<footer>
  <div class="footer-information">
    <div class="footer-description">
      <b class="footer-project-title">Projet LIRAFUS</b>
      <p>Un site non officiel référençant les classes du jeu <strong>Dofus</strong>.</p>
    </div>

    <nav class="footer-nav">
      <ul>
        <li><a href="https://www.dofus.com/fr">Dofus Officiel</a></li>
        <li><a href="https://www.amakibo.com/devfolio">Portfolio</a></li>
        <li><a href="https://github.com/Timoth3Polo">Github</a></li>
      </ul>
    </nav>
  </div>

  <div class="footer-legal">
    <p>Ce site n'est pas affilié à Ankama. Tous les droits reviennent à leurs propriétaires respectifs.</p>
    <p>&copy; 2025 Projet LIRAFUS - Site non officiel</p>
  </div>
</footer>
